<html>
  <body>
    <h1>HELLO JASON!  It's Raj from the INTERWEBS!</h1>
    <h2> Hey! Here's an idea! You should totally ask mom to start building a website with you! :) </h2>
    <h1>I'm on the server called: <%= node['fqdn'] %></h1>
  </body>
</html>
